.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 10rem;
}

.button {
  margin-top: 25px;
}

.lable-container {
  width: 25%;
}

.result {
  display: none;
  margin-top: 5rem;
}
